html{
    font-size: 62.5%;
}
body{
    background-image: url("./images/pattern-background-desktop.svg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.card{
    outline: solid transparent;
    border-width: 8rem;
    height: 65rem;
    background: hsl(225, 100%, 98%);
    border-radius: 2rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 40rem;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 35%;
    object-fit: cover;
    display: block;
    object-position: top;
    margin: 0;
}

h1{
    width: 100%;
    height: 5rem;
    font-size: xx-large;

}

.description{
    width: 100%;
    height: 5rem;
    font-size: medium;
}

.payment{
    width: 75%;
    height: 5rem;
    border: none;
    outline: none;
    border: .2rem solid hsl(245, 75%, 52%);
    border-radius: .9rem ;
    background-color: hsl(245, 75%, 52%);
    box-shadow: rgba(87, 87, 224, 0.56) 0px 7px 29px 0px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-size: 1.5rem;
    transform: scale(1);
    font-weight: 500;
}

.payment:hover{
    background-color: rgba(136, 133, 133, 0.257);
    box-shadow: rgba(0, 0, 0, 0.435) 2rem 1rem 3rem;
    transform: scale(1.2);
    color: rgba(0, 0, 0, 0.474);
}

.cancel{
    width: 100%;
    height: 5rem;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-size: 1.5rem;
    transform: scale(1);
}

.cancel:hover{
    background-color: rgba(136, 133, 133, 0.257);
    box-shadow: rgba(0, 0, 0, 0.435) 2rem 1rem 3rem;
    transform: scale(1.2);
    color: rgba(0, 0, 0, 0.474);
}

.plan-box{
    width: 100%;
    height: 15rem;
    border: none;
    outline: none;
    border: .2rem solid hsl(0, 0%, 100%);
    font-size: medium;
}